<div class='alert alert-info'>
    <h1>Definiciones</h1>
    <p>La regresión logística nos ayuda a clasificar nuestros registros en dos o mas categorías</p>
    <br />
    <code>y = 1 / 1 + exp[-(a + bx)]</code>
    <br />
    <table border="1">
		<tr>
			<th></th>
			<th>Regresion Lineal</th>
			<th>Regresion Logistica</th>
		</tr>
		<tr>
			<td>Variables Predictoras</td>
			<td>Numericas continuas y categoricas</td>
			<td>Numericas continuas y categoricas</td>
		</tr>
        <tr>
			<td>Predicciones</td>
			<td>Numericas</td>
			<td>Categoricas</td>
		</tr>
        <tr>
			<td>Relacion</td>
			<td>Lineal</td>
			<td>Lineal con modificacion</td>
		</tr>
	</table>
    
</div>

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../datasets/gender-purchase/Gender Purchase.csv')
df.head()

   Gender Purchase
0  Female      Yes
1  Female      Yes
2  Female       No
3    Male       No
4    Male      Yes

 ## Tablas de contingencia
 
 Es una representacion de las frecuencias de las observaciones que caen dentro de las diversas categorias para dos o mas variables.

In [3]:
contingency = pd.crosstab(df['Gender'], df['Purchase'])
contingency.head()

Purchase   No  Yes
Gender
Female    106  159
Male      125  121

In [4]:
contingency.sum(axis=1)

Gender
Female    265
Male      246
dtype: int64

In [5]:
contingency.sum(axis=0)

Purchase
No     231
Yes    280
dtype: int64

In [6]:
contingency.astype('float').div(contingency.sum(axis=1), axis=0)

Purchase       No      Yes
Gender
Female    0.40000  0.60000
Male      0.50813  0.49187