<div class='alert alert-info'>
    <h1>Data Wrangling - La cirugia de datos</h1>
    <p>El <b>data wrangling</b> a veces denominado <b>data munging</b>, es el proceso de transformar y mapear datos de un dataset en otro formato con la intención de hacerlo más apropiado para una variedad de propósitos posteriores, como el análisis.  Un data wrangler es una persona que realiza estas operaciones.</p>
    <p>Esto puede incluir visualización de datos, agregación de datos, entrenamiento de un modelo, así como muchos otros usus potenciales. La oscilación de datos como proceso generalmente sigue un conjunto de pasos generales que conmienzan extrayendo los datos en forma cruda del origen de datos, dividiendo los datos usando algoritomos como un clasificador, o analizando datos en estructuras de datos predefinidas.</p>
</div>

In [1]:
import pandas as pd

In [3]:
data = pd.read_csv('../datasets/customer-churn-model/Customer Churn Model.txt')
data.head()

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.

<div class='alert alert-success'>
    <h3>Crear subconjunto de datos</h3>          
</div>

In [ ]:
account_lenght = data['Account Length']
subset = data[['Account Length', 'Phone', 'Eve Charge', 'Day Calls']]
subset.head()

In [5]:
# Obteniendo conjunto complementario.  Columnas no deseadas.

all_columns = data.columns.values.tolist()
desire_columns = ['Account Length', 'Phone', 'Eve Charge', 'Day Calls']

unwished_columns = [x for x in all_columns if x not in desire_columns]
unwished_columns

['State',
 'Area Code',
 "Int'l Plan",
 'VMail Plan',
 'VMail Message',
 'Day Mins',
 'Day Charge',
 'Eve Mins',
 'Eve Calls',
 'Night Mins',
 'Night Calls',
 'Night Charge',
 'Intl Mins',
 'Intl Calls',
 'Intl Charge',
 'CustServ Calls',
 'Churn?']

In [6]:
data[unwished_columns].head()

,State,Area Code,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Charge,Eve Mins,Eve Calls,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,415,no,yes,25,265.1,45.07,197.4,99,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,415,no,yes,26,161.6,27.47,195.5,103,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,415,no,no,0,243.4,41.38,121.2,110,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,408,yes,no,0,299.4,50.90,61.9,88,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,415,yes,no,0,166.7,28.34,148.3,122,186.9,121,8.41,10.1,3,2.73,3,False.

In [7]:
# obtener las primeras 9 filas

data[0:9]

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.
5,AL,118,510,391-8027,yes,no,0,223.4,98,37.98,...,101,18.75,203.9,118,9.18,6.3,6,1.70,0,False.
6,MA,121,510,355-9993,no,yes,24,218.2,88,37.09,...,108,29.62,212.6,118,9.57,7.5,7,2.03,3,False.
7,MO,147,415,329-9001,yes,no,0,157.0,79,26.69,...,94,8.76,211.8,96,9.53,7.1,6,1.92,0,False.
8,LA,117,408,335-4719,no,no,0,184.5,97,31.37,...,80,29.89,215.8,90,9.71,8.7,4,2.35,1,False.

In [9]:
# Usuarios con Day Mins > 200

data1 = data[data['Day Mins'] > 200]
data1.head()

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
5,AL,118,510,391-8027,yes,no,0,223.4,98,37.98,...,101,18.75,203.9,118,9.18,6.3,6,1.70,0,False.
6,MA,121,510,355-9993,no,yes,24,218.2,88,37.09,...,108,29.62,212.6,118,9.57,7.5,7,2.03,3,False.

In [12]:
# Minutos de dia, de noche y longitud de la cuenta de los primeros 10

first_10 = data[['Day Mins', 'Night Mins', 'Account Length']][0:10]
first_10

   Day Mins  Night Mins  Account Length
0     265.1       244.7             128
1     161.6       254.4             107
2     243.4       162.6             137
3     299.4       196.9              84
4     166.7       186.9              75
5     223.4       203.9             118
6     218.2       212.6             121
7     157.0       211.8             147
8     184.5       215.8             117
9     258.6       326.4             141

In [14]:
data.iloc[0:10, 3:6] # Por indices

      Phone Int'l Plan VMail Plan
0  382-4657         no        yes
1  371-7191         no        yes
2  358-1921         no         no
3  375-9999        yes         no
4  330-6626        yes         no
5  391-8027        yes         no
6  355-9993         no        yes
7  329-9001        yes         no
8  335-4719         no         no
9  330-8173        yes        yes

In [15]:
data.loc[0:10, ['Day Mins', 'Night Mins', 'Account Length']]  # Por etiquetas

    Day Mins  Night Mins  Account Length
0      265.1       244.7             128
1      161.6       254.4             107
2      243.4       162.6             137
3      299.4       196.9              84
4      166.7       186.9              75
5      223.4       203.9             118
6      218.2       212.6             121
7      157.0       211.8             147
8      184.5       215.8             117
9      258.6       326.4             141
10     129.1       208.8              65

In [16]:
data['Total Mins'] = data['Day Mins'] + data['Night Mins'] + data['Eve Mins']
data['Total Mins'].head()

0    707.2
1    611.5
2    527.2
3    558.2
4    501.9
Name: Total Mins, dtype: float64

<div class='alert alert-success'>
    <h3>Números aleatorios</h3>          
</div>

In [29]:
import numpy as np
import random

In [18]:
np.random.randint(1,100)

13

In [28]:
lista = [np.random.randint(1,100) for i in range(10)]
lista

[1, 35, 73, 76, 64, 16, 85, 72, 56, 1]

In [30]:
random.randrange(0, 100, 3) # (desde, hasta, multiplos de...)

84

In [32]:
lista2 = [random.randrange(0, 100, 3) for i in range(10)]
lista2

[33, 48, 9, 87, 6, 72, 78, 54, 93, 51]

In [43]:
# Shuffling  (Mezclado de elementos)

lista3 = np.arange(100)
np.random.shuffle(lista3)
print(lista3)

[ 2 51 89 74 83 61 19 23 98 46 71 78 73 10 14 96 94 13 63 47 17 54 21 90
 11 65 20 70 60 59 38  5 72 66 24 87 88 37 39 35  6 56 44 84 52 55 91 32
 67 18 86 48  9  8 12 57 97 16  0 81 99 22 31  7 28 53 80  3 77 45 92 40
 93 85 75 50 15 43 27 64 30 95 62 82 42 69 76 26  4 29 25 34 49 33 79 68
 36  1 58 41]

In [45]:
# elegir una de las columnas al azar

columns = data.columns.values.tolist()

np.random.choice(columns)

'Day Calls'