<div class='alert alert-info'>
    <h1>Data Wrangling - La cirugia de datos</h1>
    <p>El <b>data wrangling</b> a veces denominado <b>data munging</b>, es el proceso de transformar y mapear datos de un dataset en otro formato con la intención de hacerlo más apropiado para una variedad de propósitos posteriores, como el análisis.  Un data wrangler es una persona que realiza estas operaciones.</p>
    <p>Esto puede incluir visualización de datos, agregación de datos, entrenamiento de un modelo, así como muchos otros usus potenciales. La oscilación de datos como proceso generalmente sigue un conjunto de pasos generales que conmienzan extrayendo los datos en forma cruda del origen de datos, dividiendo los datos usando algoritomos como un clasificador, o analizando datos en estructuras de datos predefinidas.</p>
</div>

In [1]:
import pandas as pd

In [3]:
data = pd.read_csv('../datasets/customer-churn-model/Customer Churn Model.txt')
data.head()

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.

<div class='alert alert-success'>
    <h3>Crear subconjunto de datos</h3>          
</div>

In [4]:
account_lenght = data['Account Length']
subset = data[['Account Length', 'Phone', 'Eve Charge', 'Day Calls']]
subset.head()

   Account Length     Phone  Eve Charge  Day Calls
0             128  382-4657       16.78        110
1             107  371-7191       16.62        123
2             137  358-1921       10.30        114
3              84  375-9999        5.26         71
4              75  330-6626       12.61        113

In [5]:
# Obteniendo conjunto complementario.  Columnas no deseadas.

all_columns = data.columns.values.tolist()
desire_columns = ['Account Length', 'Phone', 'Eve Charge', 'Day Calls']

unwished_columns = [x for x in all_columns if x not in desire_columns]
unwished_columns

['State',
 'Area Code',
 "Int'l Plan",
 'VMail Plan',
 'VMail Message',
 'Day Mins',
 'Day Charge',
 'Eve Mins',
 'Eve Calls',
 'Night Mins',
 'Night Calls',
 'Night Charge',
 'Intl Mins',
 'Intl Calls',
 'Intl Charge',
 'CustServ Calls',
 'Churn?']

In [6]:
data[unwished_columns].head()

,State,Area Code,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Charge,Eve Mins,Eve Calls,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,415,no,yes,25,265.1,45.07,197.4,99,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,415,no,yes,26,161.6,27.47,195.5,103,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,415,no,no,0,243.4,41.38,121.2,110,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,408,yes,no,0,299.4,50.90,61.9,88,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,415,yes,no,0,166.7,28.34,148.3,122,186.9,121,8.41,10.1,3,2.73,3,False.