<div class='alert alert-info'>
    <h2>Agrupaci贸n categ贸rica</h2>
</div>

In [1]:
import pandas as pd
import numpy as np
import random

In [2]:
gender = ['Male', 'Female']
income = ['Poor', 'Middel', 'Rich']

In [5]:
n = 500 # size dataframe

gender_data = []
income_data = []

for i in range(n):
    gender_data.append(np.random.choice(gender))
    income_data.append(np.random.choice(income))

In [14]:
# n = media + desviaci贸n * distribuci贸n
height = (160 + 30*np.random.randn(n)).astype(int)
weight = (65 + 25*np.random.randn(n)).astype(int)
age = (30 + 12*np.random.randn(n)).astype(int)
income = 18000 + 3500*np.random.randn(n)

In [15]:
data = pd.DataFrame(
    {
        'Gender': gender_data,
        'Economic Status': income_data,
        'Heigh': height,
        'Weight': weight,
        'Age': age,
        'Income': income
    }
)

data.head()

   Gender Economic Status  Heigh  Weight  Age        Income
0  Female          Middel    160      83   23  17312.678947
1  Female          Middel    166      51   24  12100.529134
2  Female            Poor    159      54   24  14444.572923
3    Male            Poor    202      61   35  16575.215988
4    Male            Rich    109      87   45  16250.030817